# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*    @MetaMask/mobile-devs

#Swaps Team (should be all tech leads from every lane)

#On-Ramp Team (all on-ramp team members)

#SDK Team (all SDK team members)

#Accounts Team (all Accounts team members)

#Confirmation Team (all Confirmation team members)
