export MM_FOX_CODE="EXAMPLE_FOX_CODE"
export MM_BRANCH_KEY_TEST=
export MM_BRANCH_KEY_LIVE=
export METAMASK_BUILD_TYPE=
export MM_BRAZE_API_KEY_ANDROID=
export MM_BRAZE_SDK_ENDPOINT="sdk.iad-07.braze.com"
