[submodule "mixpanel-iphone"]
	path = mixpanel-iphone
	url = git@github.com:mixpanel/mixpanel-iphone.git
[submodule "ios/mixpanel-iphone"]
	path = ios/mixpanel-iphone
	url = git@github.com:mixpanel/mixpanel-iphone.git
[submodule "ios/branch-ios-sdk"]
	path = ios/branch-ios-sdk
	url = git@github.com:BranchMetrics/ios-branch-deep-linking-attribution.git
