<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metamask"
	xmlns:tools="http://schemas.android.com/tools"
>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-sdk tools:overrideLibrary="com.tectiv3.aes" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
	  android:hardwareAccelerated="true"
	  android:usesCleartextTraffic="${isDebug}"
	>
      <activity
        android:launchMode="singleTask"
        android:name=".SplashActivity"
        android:theme="@style/SplashTheme"
        android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
      </activity>
      <activity
	    android:launchMode="singleTask"
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
		 <!-- Branch URI Scheme -->
		<intent-filter>
			<data android:scheme="ethereum" />
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.DEFAULT" />
			<category android:name="android.intent.category.BROWSABLE" />
		</intent-filter>

		<!-- Branch App Links (optional) -->
		<intent-filter android:autoVerify="true">
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.DEFAULT" />
			<category android:name="android.intent.category.BROWSABLE" />
			<data android:scheme="https" android:host="metamask.io" />
		</intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <meta-data
        android:name="io.fabric.ApiKey"
         android:value="${MM_FABRIC_API_KEY}" />
	  <!-- Branch init -->
	  <meta-data android:name="io.branch.sdk.BranchKey" android:value="${MM_BRANCH_KEY_LIVE}" />
	  <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="${MM_BRANCH_KEY_TEST}" />
	  <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />

	  <!-- Branch install referrer tracking (optional) -->
	  <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
		<intent-filter>
			<action android:name="com.android.vending.INSTALL_REFERRER" />
		</intent-filter>
	  </receiver>
    </application>

</manifest>
