<!DOCTYPE html>
<html>
  <script>
    function removeIframe(elementId) {
      const frame = document.getElementById(snapId);
      if (frame) {
        frame.parentNode.removeChild(frame);
      }
    }

    function createIframe(snapId, sourceCodeUri) {
      const script = document.createElement('script');
      script.setAttribute('src', sourceCodeUri);

      const iframe = document.createElement('iframe');

      iframe.id = snapId;
      iframe.setAttribute('srcdoc', sourceCodeUri);
      iframe.setAttribute('sandbox', 'allow-scripts');

      iframe.appendChild(script);
      document.body.appendChild(iframe);
      
    }

    window.addEventListener('message', message => {
      console.log(message.data);
      const { method, snapId, sourceCode, args } = JSON.parse(message.data);
      switch (method) {
        case 'start_snap':
          createIframe(snapId, sourceCode);
          return;
        case 'execute_snap':
          const response = document.getElementById(snapId).contentWindow.snap.onRpcRequest(args);
          sendDataToReactNativeApp(JSON.stringify(response))
          return;
        case 'kill_snap':
          removeIframe(snapId);
          return;
        default:
          return;
      }
    });
  </script>
  <body
    style="display: flex; justify-content: center; flex-direction: column; align-items: center;"
  >
    <button
      onclick="sendDataToReactNativeApp('Dummy data')"
      style="padding: 20; width: 200; font-size: 30; color: white; background-color: #6751ff;"
    >
      Send dummy data to app
    </button>
    <div>
      <p id="myContent">Basic HTML</p>
      <iframe id="snap-1" name="snap-1" src="./iframe1.html"></iframe>
      <iframe id="snap-2" name="snap-2" src="./iframe2.html"></iframe>
    </div>
  </body>
</html>
