<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>mock-api-key-1234</string>
	<key>GCM_SENDER_ID</key>
	<string>mock-gcm-sender-id-1234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.metamask.MetaMask</string>
	<key>PROJECT_ID</key>
	<string>mockproject-1234</string>
	<key>STORAGE_BUCKET</key>
	<string>mock-storage-bucket-1234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824598429541:ios:7b7482c4598025a5beab8c</string>
</dict>
</plist>
