<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MetaMask</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ethereum</string>
				<string>metamask</string>
				<string>dapp</string>
				<string>wc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
		<string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>MetaMask needs Bluetooth access to connect to external devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>MetaMask needs Bluetooth access to connect to external devices.</string>
	<key>NSCameraUsageDescription</key>
	<string>MetaMask needs camera access to scan QR codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>$(PRODUCT_NAME) needs to authenticate</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>MetaMask needs microphone access to record audio</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow MetaMask to save an image to your Photo Library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow MetaMask to access a images from your Photo Library</string>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>AntDesign.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Metamask.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>EuclidCircularB-Bold.otf</string>
		<string>EuclidCircularB-BoldItalic.otf</string>
		<string>EuclidCircularB-Light.otf</string>
		<string>EuclidCircularB-LightItalic.otf</string>
		<string>EuclidCircularB-Medium.otf</string>
		<string>EuclidCircularB-MediumItalic.otf</string>
		<string>EuclidCircularB-Regular.otf</string>
		<string>EuclidCircularB-RegularItalic.otf</string>
		<string>EuclidCircularB-Semibold.otf</string>
		<string>EuclidCircularB-SemiboldItalic.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>$(MM_BRANCH_KEY_LIVE)</string>
		<key>test</key>
		<string>$(MM_BRANCH_KEY_TEST)</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>metamask.app.link</string>
		<string>metamask-alternate.app.link</string>
		<string>metamask.test.app.link</string>
		<string>metamask-alternate.test.app.link</string>
	</array>
	<key>fox_code</key>
	<string>$(MM_FOX_CODE)</string>
	<key>mixpanel_token</key>
	<string>$(MM_MIXPANEL_TOKEN)</string>
</dict>
</plist>
