<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>provisioningProfiles</key>
    <dict>
      <key>io.metamask.MetaMask</key>
      <string>Bitrise AppStore io.metamask.MetaMask</string>
    </dict>
    <key>uploadSymbols</key>
    <true/>
    <key>teamID</key>
    <string>48XVW22RCG</string>
    <key>method</key>
    <string>app-store</string>
  </dict>
</plist>
