<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MetaMask QA</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ethereum</string>
				<string>metamask</string>
				<string>dapp</string>
				<string>wc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
		<string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>MetaMask needs Bluetooth access to connect to external devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>MetaMask needs Bluetooth access to connect to external devices.</string>
	<key>NSCameraUsageDescription</key>
	<string>MetaMask needs camera access to scan QR codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>$(PRODUCT_NAME) needs to authenticate</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>MetaMask needs microphone access to record audio</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow MetaMask to save an image to your Photo Library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow MetaMask to access a images from your Photo Library</string>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>AntDesign.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Metamask.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>CentraNo1-Bold.otf</string>
		<string>CentraNo1-BoldItalic.otf</string>
		<string>CentraNo1-Book.otf</string>
		<string>CentraNo1-BookItalic.otf</string>
		<string>CentraNo1-Medium.otf</string>
		<string>CentraNo1-MediumItalic.otf</string>
		<string>MM Poly Regular.otf</string>
		<string>MM Sans Bold.otf</string>
		<string>MM Sans Medium.otf</string>
		<string>MM Sans Regular.otf</string>
		<string>Geist Bold Italic.otf</string>
		<string>Geist Bold.otf</string>
		<string>Geist Medium Italic.otf</string>
		<string>Geist Medium.otf</string>
		<string>Geist Regular Italic.otf</string>
		<string>Geist Regular.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_key</key>
	<string>$(MM_BRANCH_KEY_LIVE)</string>
	<key>fox_code</key>
	<string>$(MM_FOX_CODE)</string>
</dict>
</plist>
