name: Add team label

on:
  pull_request:
    types:
      - opened

jobs:
  add-team-label:
    name: Add team label
    if: ${{ !github.event.pull_request.head.repo.fork }}
    runs-on: ubuntu-latest
    steps:
      - name: Add team label
        uses: MetaMask/github-tools/.github/actions/add-team-label@v1
        with:
          team-label-token: ${{ secrets.TEAM_LABEL_TOKEN }}
