name: Bump version name
on:
  push:
    branches:
      - fix/action-head-ref
      - develop
      - main
jobs:
  bump-version-name:
    runs-on: ubuntu-latest
    if: "contains(github.head_ref, 'fix/')"
    permissions:
      contents: write  
    steps:
    - uses: actions/checkout@v2
    - name: Bump script
      env:
        HEAD_REF: ${{ github.head_ref }}
      run: |
        ./scripts/bump-version.sh "$HEAD_REF"
        git diff
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add bitrise.yml
        git add package.json
        git commit -m "Bump version name"
        git push origin HEAD:"$HEAD_REF" --force
