name: Bump version name
on:
  push:
    branches:
      - develop
jobs:
  bump-version-name:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Bump script
      run: |
        echo "variables"
        echo github.event.pull_request.head.ref
        echo "${ORIGIN_BRANCH}"
        echo "${{ github }}"
        ./scripts/bump-version.sh ${ORIGIN_BRANCH}
