name: Bump version name
on:
  push:
    branches:
      - develop
jobs:
  bump-version-name:
    runs-on: ubuntu-latest
    steps:
    - name: Bump script
      run: ./scripts/bump-version.sh github.event.pull_request.head.ref
