name: Bump version name
on:
  push:
    branches:
      - develop
jobs:
  bump-version-name:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Bump script
      run: |
        echo "variables"
        echo github.event.pull_request.head.ref
        echo "${{github.event.pull_request.head.ref}}"
        ./scripts/bump-version.sh ${ github.event.pull_request.head.ref }
