name: Bump version name
on:
  push:
    branches:
      - develop
jobs:
  bump-version-name:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Bump script
      run: |
        echo "variables"
        echo github.event.pull_request.head.ref
        echo "${ORIGIN_BRANCH}"
        echo "${{ github.base_ref }}"
        ./scripts/bump-version.sh  release/fake-major
        git diff
    - uses: EndBug/add-and-commit@v7
      with:
        # The arguments for the `git add` command (see the paragraph below for more info)
        # Default: '.'
        add: 'bitrise.yml'

        # The name of the user that will be displayed as the author of the commit
        # Default: author of the commit that triggered the run
        author_name: estebanmino

        # The email of the user that will be displayed as the author of the commit
        # Default: author of the commit that triggered the run
        author_email: efmino@uc.cl

        # Name of the branch to use, if different from the one that triggered the workflow
        # Default: the branch that triggered the run
        # branch: some-branch

        # The local path to the directory where your repository is located. You should use actions/checkout first to set it up
        # Default: '.'
        # cwd: './path/to/the/repo'

        # The message for the commit
        # Default: 'Commit from GitHub Actions (name of the workflow)'
        message: 'Bump version name'

        # The flag used on the pull strategy. Use NO-PULL to avoid the action pulling at all.
        # Default: '--no-rebase'
        # pull_strategy: 'NO-PULL or --no-rebase or --no-ff or --rebase'

        # Whether to push the commit and, if any, its tags to the repo. It can also be used to set the git push arguments (see the paragraph below for more info)
        # Default: true
        # push: false

        # The arguments for the `git rm` command (see the paragraph below for more info)
        # Default: ''
        # remove: './dir/old_file.js'

        # Whether to use the --signoff option on `git commit` (only `true` and `false` are accepted)
        # Default: false
        # signoff: true

        # Arguments for the git tag command (the tag name always needs to be the first word not preceded by an hyphen)
        # Default: ''
        tag: 'v1.0.0 --force'


