name: Check E2E Label

on:
  pull_request:
    types: [labeled, unlabeled]

jobs:
  check-e2e-label:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: yarn

      - name: Install dependencies
        run: yarn --immutable

      - name: Check E2E label
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn run check-e2e-label

      - name: Bump commit to refresh Bitrise check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HEAD_REF: ${{ github.head_ref }}
        run: |
          git config user.name metamaskbot
          git config user.email metamaskbot@users.noreply.github.com
          git commit --allow-empty -m "Bump commit for Bitrise"
          git push origin HEAD:"$HEAD_REF" --force
