name: Create Release Pull Request

on:
  workflow_dispatch:
    inputs:
      checkout-base-branch:
        description: 'The base branch, tag, or SHA for git operations. Usually `main`'
        required: true
      release-pr-base-branch:
        description: 'The base branch, tag, or SHA for the release pull request. Usually `stable`'
        required: true
      semver-version:
        description: 'A semantic version. eg: x.x.x'
        required: true
      previous-version-ref:
        description: 'Previous release version branch name, tag or commit hash (e.g., release/7.7.0, v7.7.0, or 76fbc500034db9779e9ff7ce637ac5be1da0493d)'
        required: true
jobs:
  generate-build-version:
    uses: MetaMask/metamask-mobile-build-version/.github/workflows/metamask-mobile-build-version.yml@v0.2.0
    permissions:
      id-token: write

  create-release-pr:
    needs: generate-build-version
    uses: MetaMask/github-tools/.github/workflows/create-release-pr.yml@914cbff8a8d58cfe0053e8690a3c0d4b281e27d6
    with:
      platform: mobile
      checkout-base-branch: ${{ inputs.checkout-base-branch }}
      release-pr-base-branch: ${{ inputs.release-pr-base-branch }}
      semver-version: ${{ inputs.semver-version }}
      previous-version-ref: ${{ inputs.previous-version-ref }}
      mobile-build-version: ${{ needs.generate-build-version.outputs.build-version }}
      github-tools-version: 914cbff8a8d58cfe0053e8690a3c0d4b281e27d6

    secrets:
      # This token needs read permissions to metamask-planning & write permissions to metamask-mobile
      github-token: ${{ secrets.PR_TOKEN }}
      google-application-creds-base64: ${{ secrets.GCP_RLS_SHEET_ACCOUNT_BASE64 }}
    permissions:
      contents: write
      pull-requests: write
