name: MetaMask Security Code Scanner

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  run-security-scan:
    uses: MetaMask/action-security-code-scanner/.github/workflows/security-scan.yml@main
    permissions:
      actions: read
      contents: read
      security-events: write
    with:
      repo: ${{ github.repository }}
      scanner-ref: main
      languages-config: |
        [
          {
            "language": "java-kotlin",
            "build_mode": "manual",
            "build_command": "export GOOGLE_SERVICES_B64_ANDROID='ewogICJwcm9qZWN0X2luZm8iOiB7CiAgICAicHJvamVjdF9udW1iZXIiOiAiMTIzNDU2Nzg5IiwKICAgICJwcm9qZWN0X2lkIjogImNvZGVxbC1zY2FuLWR1bW15IiwKICAgICJzdG9yYWdlX2J1Y2tldCI6ICJjb2RlcWwtc2Nhbi1kdW1teS5hcHBzcG90LmNvbSIKICB9LAogICJjbGllbnQiOiBbewogICAgImNsaWVudF9pbmZvIjogewogICAgICAibW9iaWxlc2RrX2FwcF9pZCI6ICIxOjEyMzQ1Njc4OTphbmRyb2lkOmFiY2RlZjEyMzQ1NiIsCiAgICAgICJhbmRyb2lkX2NsaWVudF9pbmZvIjogewogICAgICAgICJwYWNrYWdlX25hbWUiOiAiaW8ubWV0YW1hc2siCiAgICAgIH0KICAgIH0sCiAgICAiYXBpX2tleSI6IFt7CiAgICAgICJjdXJyZW50X2tleSI6ICJBSXphRHVtbXlLZXlGb3JDb2RlUUxTY2FubmluZzEyMzQ1Njc4OSIKICAgIH1dCiAgfV0sCiAgImNvbmZpZ3VyYXRpb25fdmVyc2lvbiI6ICIxIgp9Cg==' \\\n  && yarn install --immutable --mode skip-build \\\n  && yarn run build:android:main:test",
            "version": "17",
            "distribution": "temurin"
          },
          {
            "language": "swift",
            "build_mode": "autobuild"
          },
          {
            "language": "cpp",
            "ignore": true
          }
        ]
      paths-ignored: |
        e2e/
        docs/
        .storybook/
        **/*.test.js
        **/*.test.ts
        **/*.test.jsx
        **/*.test.tsx
        **/*.stories.tsx
        **/*.stories.js
        **/*.snap
    secrets:
      project-metrics-token: ${{ secrets.SECURITY_SCAN_METRICS_TOKEN }}
      slack-webhook: ${{ secrets.APPSEC_BOT_SLACK_WEBHOOK }}

