name: 'Security Code Scanner'
on: [push, pull_request]

jobs:
  security-scan:
    uses: MetaMask/action-security-code-scanner/.github/workflows/security-scan.yml@v2
    with:
      scanner-ref: v2
    permissions:
      actions: read
      contents: read
      security-events: write
